body {
    background : #2e3440;
}
#header-bottom-left {
    background : #3b4252 !important;
}

p {
    color: #fff;
}
.md {
    background : #2e3440 !important;    
    width:100%;
    max-width:100%;
}
.thing .title:visited{
    color: #b48ead !important; 
}
.commentsignupbar, .listingsignupbar, #sr-header-area, .user, .side, .footer-parent {
    display: none !important;
}
.comment,.usertext-body,.tagline {
    font-size: 16px;
}
